@media (max-width: 768px){
    .footer-heading{
        font-size: 18px;
    }
    .footer-address{
        margin-top: 40px;
        font-size: 17px;
    }
    .footer-terms{
        font-size: 16px;
    }
    .footer-copywrite{
        font-size: 14px;
    }
}
@media (max-width: 576px){
    .footer-box{
        top: 0;
    }
    .footer-heading{
        font-size: 13px;
    }
    .footer-icons-list a{
        font-size: 15px;
        margin: 0 5px;
    }
    .footer-address{
        margin-top: 30px;
        font-size: 14px;
    }
    .footer-terms{
        font-size: 14px;
    }
    .footer-copywrite{
        font-size: 12px;
    }
}